@import url("https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@700&display=swap");

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* min-height vs height */
body {
  background: rgb(29, 29, 29);
  color: rgb(252, 252, 252);
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 20px;  
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

li {
  list-style: none;
  font-size: 0.8rem;
}

/* margin 30px auto --> centrer horizontalement*/
.header {
  display: flex;
  margin: 30px auto;  
  padding: 10px;
}

.header-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  width: 50%;
}

h1 {
  font-size: 5rem;
}

#blueTitle {
  color: #4b4ce6;
  font-size: 1.8rem;
}

p {
  font-size: 0.8rem;
}

#modem {
  height: 100%;
  width: 100%;
}

.infos {  
  padding: 15px;
  background: rgb(10, 10, 10);
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.infos-left {
  width: 33%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}

button {
  border: none;
  background: #4b4ce6;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
  font-size: 0.6rem;
}

.infos-right {
  width: 67%;
}

.investors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.img-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.img-container img {
  height: 60px;
}
